* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    /* background-image: linear-gradient(65deg,#DFCE38, #3094C6 55%); */
    background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

.section {
    display: flex;
    justify-content: center;
    height: 90%;
}

.container {
    border: 1.5px solid #e3e3e3;
    margin: 8px 0;
    padding: 10px 20px;
    border-radius: 10px;

    background-color: rgb(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    outline: 1px solid #fff;


    
}

h1 {
    font-size: 22px;
    color: #313131;
}

table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 30px;
    border-radius: 5px;
    border-style: hidden; 
    box-shadow: 0 0 0 1px #e3e3e3; 
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}


td:not(:first-child) {
    text-align: left;
}

th, td {
    padding: 8px 32px;
    color: #313131;
}


td {
    border: hidden;
}

.head {
    text-align: left;
}
.fa-regular {
    font-size: 1.2rem;
    color: #91bd3a;
    cursor: pointer;
}

.form {
    margin-top: 16px;

    display: flex;
    justify-content: center;
}

.form-field {
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    height: 2.5rem;
    border-radius: 1.8px;
    background-color: #e3e3e3;
    padding: 0 15px;
    width: 100%;
}

.form-field:focus {
    outline: none;
    border-bottom: 2px solid #007cb9;
}


.tally {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    padding: 8px 0;
    text-align: center;
    color: #484d51;

}

.tally:focus {
    outline: none;
    border-bottom: 2px solid #007cb9;
}

.tally:hover {
    background-color: #eee;
}

input[type="checkbox"] {
    position: relative;
    top: 0;
    left: 30%;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #f2f9f1;
    border-radius: 2px;
    cursor: pointer;

    outline: #91bd3a;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"]:after {
    position: relative;
    right: 10%;
    bottom: 10%;
    font-weight: 200;
    font-size: 30px;
    content: "\2714";
    color: #91bd3a;
    display: none;
    
}

input[type="checkbox"]:hover {
    background-color: #f6f6f6;
    border: 1px solid #91bd3a;


}

input[type="checkbox"]:checked{
    border: #91bd3a;
    border: 2px solid #91bd3a;


}

input[type="checkbox"]:checked::after {
    display: block;
    border-radius: 2px;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: #ffffff;


}

.navbar ul {
    display: flex;

}

.navbar ul li {
    display: flex;
    text-align: center;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

.navbar ul li:not(:last-child) {
    margin-right: 15px;
}

.navbar ul .logout-btn {
    background: none;
    border: none;


    padding: 0 10px;
    display: flex;
    align-items: center;
    transition: all .3s;
}

.navbar ul .logout-btn .switch-icon {
    padding: 5px;
}


.navbar ul .logout-btn:hover {
    cursor: pointer;
    transform: translateY(2px);
}

.navbar ul .v-line {
    border: 1px solid #e4e3e3;
}

.logo {
    width: 150px;
    /* padding-top: 1%; */
}

#btn {
    border: none;
    background: none;
}

